<!-- <section class="callaction">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h3><span class="highlight"><strong>
                                    Current sensor </strong></span>
                            Data</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Brandings -->
<div class="content">
    <div class="container-lg">
        <app-graph></app-graph>
    </div>
</div>